nav {
  background-color: #feb729;
  color: #0c265a;
  padding: 19px;
  font-weight: bold;
  display: flex;

  /* BORDER STUFF - TBC? */
  /* border-bottom: #0c265a; */
  border-bottom: #d99d25;
  border-bottom-style: solid;
  border-width: 2px;
  /* options - 1px, 2px? poss 5, depending on vibe*/
}

a {
  color: inherit;
  padding-right: 38px;
  text-decoration: none;
}

.navtitle {
  padding-left: 60px;
  flex-grow: 1;
}

@media screen and (max-width: 480px) {
  .navtext {
    display: none;
  }

  .navtitle {
    padding-left: 12;
    flex-grow: inherit;
    display: flex;
  }
}
